@import "@styles/theme.scss";

.home-policy {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px 30px;
  background: #ffffff;
}

.home-policy__item {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-img {
    margin-right: 14px;
    width: 28px;
    height: 28px;
  }

  &-txt {
    color: $text-color-light;
    font-size: 24px;
    line-height: 24px;
  }
}
